.app {
  text-align: center;
  font-size: 10px;
}

.line {
  position: fixed;
  height: 1px;
  background-color: blue;
  width: 100%;
  top: 50%;
}

table {
  border-collapse: collapse;
}

td {
  padding: 0;
}