.container {
  height: 600px;
  width: 800px;
  border: 1px solid black;
  overflow: hidden;
}

.map {
  position: relative;
  transform: scale(2);
  top: 120px;
  left: -1250px;
  background-color: lightskyblue;
}
